ErrorDocument 404 /404.php

RewriteEngine On

RewriteRule ^apps$ /apps/ [R]
RewriteRule ^apps/$ / [R]

RewriteRule ^apps/gameplay$ /apps/gameplay/ [R]

RewriteRule ^apps/gameplaycolor$ /apps/gameplaycolor/ [R]
RewriteRule ^apps/gameplaycolor/thanks$ /apps/gameplaycolor/thanks/ [R]

RewriteRule ^apps/gameplay/app$ /apps/gameplay/app/ [R]
RewriteRule ^apps/learn/app$ /apps/learn/app/ [R]

RewriteRule ^apps/$ apps.php
RewriteRule ^apps/([^/]+)/$ apps_$1.php
RewriteRule ^apps/([^/]+)/([^/]+)/$ apps_$1_$2.php
