body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    padding-top: 20px;
    padding-bottom: 40px;
}

/* Custom container */
.container-narrow {
  margin: 0 auto;
  max-width: 740px;
  padding: 0 20px;
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  margin: 60px 0;
  text-align: center;
}

.jumbotron h1 {
  font-size: 72px;
  line-height: 1;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
    background: none;
    border: 2px solid white;
    border-radius: 8px;
    text-shadow: 0;
    box-shadow: 0;
}

.jumbotron .btn:hover {
    border: 2px solid transparent;
    background: white;
    color: #333;
    text-shadow: 0;
    box-shadow: 0;
}

.tagline a {
  color: #777;
}

.tagline a:hover {
  text-decoration: none;
  color: #005580;
}

a:hover {
  text-decoration: none;
}

/* Supporting marketing content */
.marketing {
  margin: 60px 0;
}

.marketing p + h4 {
  margin-top: 28px;
}

.features {
  margin: 80px 0;
  margin-bottom: 20px;
}

.full-width {
  width: 100%;
  padding: 20px 0;
  position: relative;
}

.texture {
  background-color: #222;
}

.wood {
  background: url('../images/bg_wood.png') repeat center center fixed;
}

.sketchpad {
  background: url('../images/bg_sketchpad.jpg') no-repeat center center fixed;
}

.tetris {
  background: url('../images/bg_tetris.png') no-repeat center center fixed;
}

.mario {
  background: url('../images/bg_mario.png') no-repeat bottom center fixed;
}

.tagline {
  color: #bbb;
}

.bright {
  color: #f4f4f4;
}

.footer {
  text-align: center;
  font-size: 0.9em;
  color: #999;
  margin-bottom: 0;
}

.footer p {
  margin: 0;
}


.feature {
    position: relative;
    margin-bottom: 60px;
    margin-left: 54px;
    margin-right: 20px;
}

.feature > p {
    color: #888;
}

.feature > .feature-icon {
    position: absolute;
    top: -8px;
    left: -54px;
    font-size: 38px;
    color: #bbb;
}

.feature p {
  line-height: 1.8em;
  font-size: 1.14em;
}

.logo {
  color: #eee;
}

.center {
  text-align: center;
}

.icons {
  padding-bottom: 60px;
  text-align: center;
}

.icon a {
  color: #ddd;
  font-weight: bold;
  text-shadow: 0 1px #000;
}

.appicon {
    width: 200px;
    height: 200px;
    margin-bottom: 12px;
    background-size: 200px 200px;
    border-radius: 40px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
    display: inline-block;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.appicon:hover {
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    -webkit-transform: scale(1.06);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.gameplaycolor {
  background-image: url(../images/ico_gameplaycolor.png);
}

.gameplay {
  background-image: url(../images/ico_gameplay.png);
}

.faq {
  cursor: pointer;
}

.lead {
  font-size: 24px;
}

.color-title {
  font-family: "Comic Sans MS";
  font-weight: bold;
  letter-spacing: -8px;
}

.color-title > .pink {
  color: #C71669;
}

.color-title > .purple {
  color: #4E4A85;
}

.color-title > .lime {
  color: #9AC834;
}

.color-title > .yellow {
  color: #FFE437;
}

.color-title > .cyan {
  color: #1988B9;
}

.image_hdr_gameplay {
  width: 481px;
  height: 562px;
  display: inline-block;
  background-size: 481px 562px;
  background-image: url(../images/hdr_gameplay.png);
}

.image_hdr_gameplaycolor {
  width: 278px;
  height: 562px;
  display: inline-block;
  background-size: 278px 562px;
  background-image: url(../images/hdr_gameplaycolor_2x.png);


}

@media only screen and (-webkit-device-pixel-ratio:2) {

  .image_hdr_gameplay {
    background-image: url(../images/hdr_gameplay_2x.png);
  }

}

/* Bootstrap Tweaks */

@media (max-width: 979px) {

  body {
    padding-top: 0;
  }

  .navbar-fixed-top {
    margin-bottom: 0;
  }

  .jumbotron h1 {
    font-size: 60px;
  }

}

@media (max-width: 767px) {

  body {
    padding-right: 0;
    padding-left: 0;
  }

  .navbar-fixed-top,
  .navbar-fixed-bottom,
  .navbar-static-top {
    margin-right: 0;
    margin-left: 0;
  }

  .jumbotron h1 {
    font-size: 50px;
  }

}

